@import "../../../styles/general";


.menu {
	display: none;

	@include breakpoint(medium) {
		display: block;
	}
}


.list {
	@include breakpoint(medium) {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-between;
	}
}