@keyframes slideDown {
	from {
	  top: -88px;
	}
  
	to {
	  top: 0;
	}
}


@keyframes slideUp {
	from {
	  top: 0px;
	}
  
	to {
	  top: -88px;
	}
}


@mixin slider($pointer) {
	@include breakpoint(large) {
		animation-name: $pointer;

		@if $pointer == slideUp {
			animation-duration:  0.6s;
		}

		@if $pointer == slideDown {
			animation-duration:  0.6s;
		}
	}
}