@import "../../../styles/general";


.heading {
	@include mob-h1-2;

	color: $black;
	text-align: center;

	@include breakpoint(medium) {
		@include h2;

		max-width: 730px;
		margin-left: auto;
		margin-right: auto;
	}
}


.description {
	@include mob-p-normal;

	width: 100%;
	margin-top: 20px;
	text-align: center;
	line-height: 149%;

	@include breakpoint(medium) {
		@include p-normal;

		max-width: 420px;
		margin: {
			right: auto;
			left: auto;
			top: 30px;
		}
	}
}