@import "../../../styles/general";


.mainWrapper {
	margin-top: 50px;

	@include breakpoint(medium) {
		margin-top: 100px;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-column-gap: 18px;
	}
    
	@include breakpoint(large) {
		grid-column-gap: 30px;
	}
}